/* main set - reserved for morressier interface */

:root {
    /* mono */
    --color-mono-0: #000000;
    --color-mono-10: #191919;
    --color-mono-20: #272727;
    --color-mono-30: #383838;
    --color-mono-40: #4c4c4c;
    --color-mono-50: #616161;
    --color-mono-60: #777777;
    --color-mono-70: #8f8f8f;
    --color-mono-80: #a9a9a9;
    --color-mono-90: #c4c4c4;
    --color-mono-95: #e1e1e1;
    --color-mono-99: #f7f7f7;
    --color-mono-100: #ffffff;

    /* teal */
    --color-teal-5: #192c2c;
    --color-teal-10: #213b3b;
    --color-teal-20: #385b59;
    --color-teal-30: #347e7a;
    --color-teal-40: #3aa38f;
    --color-teal-50: #41c7a4;
    --color-teal-60: #5cd7af;
    --color-teal-70: #79e5ba;
    --color-teal-80: #a9fdcf;
    --color-teal-90: #cbfde1;
    --color-teal-95: #e2fded;

    /* blue */
    --color-blue-05: #080e2a;
    --color-blue-10: #101d55;
    --color-blue-20: #13246e;
    --color-blue-30: #182f95;
    --color-blue-40: #1d3abc;
    --color-blue-50: #2043de;
    --color-blue-60: #4b67e7;
    --color-blue-70: #7187ed;
    --color-blue-80: #98a8f3;
    --color-blue-90: #bec9f9;
    --color-blue-95: #d3dafb;
    --color-blue-99: #e6ebfd;

    /* green */
    --color-green-05: #071905;
    --color-green-10: #0d2b08;
    --color-green-20: #1a5311;
    --color-green-30: #26731a;
    --color-green-40: #329123;
    --color-green-50: #40af2e;
    --color-green-60: #55d042;
    --color-green-70: #75e165;
    --color-green-80: #99ee8c;
    --color-green-90: #bef7b6;
    --color-green-95: #d6fad0;
    --color-green-99: #eafce7;

    /* red */
    --color-red-05: #290b09;
    --color-red-10: #541812;
    --color-red-20: #721e16;
    --color-red-30: #99281d;
    --color-red-40: #be3023;
    --color-red-50: #d93526;
    --color-red-60: #e3584c;
    --color-red-70: #ec7b70;
    --color-red-80: #f39e97;
    --color-red-90: #f9c2bd;
    --color-red-95: #fbd5d2;
    --color-red-99: #fde9e7;

    /* yellow */
    --color-yellow-05: #2b1a07;
    --color-yellow-10: #4c2e0d;
    --color-yellow-20: #794915;
    --color-yellow-30: #a6641c;
    --color-yellow-40: #d37f24;
    --color-yellow-50: #eda011;
    --color-yellow-60: #efad35;
    --color-yellow-70: #f1bc58;
    --color-yellow-80: #f3c97a;
    --color-yellow-90: #f6d69c;
    --color-yellow-95: #f9e4bd;
    --color-yellow-99: #fbf2e0;
}

/* support set  - only for use in charts and illustrations */

:root {
    /* purple */
    --color-purple-10: #1e0a33;
    --color-purple-20: #371259;
    --color-purple-30: #51197f;
    --color-purple-40: #6d1fa6;
    --color-purple-50: #8b24cd;
    --color-purple-60: #b058e4;
    --color-purple-70: #bb63e7;
    --color-purple-80: #cf88ee;
    --color-purple-90: #e1aff4;
    --color-purple-95: #f7e8fc;

    /* pink */
    --color-pink-10: #330a28;
    --color-pink-20: #5c1348;
    --color-pink-30: #861965;
    --color-pink-40: #b21f81;
    --color-pink-50: #dc259a;
    --color-pink-60: #e54daa;
    --color-pink-70: #eb6fb7;
    --color-pink-80: #f091c6;
    --color-pink-90: #f5b3d6;
    --color-pink-95: #fad6e8;

    /* orange */
    --color-orange-10: #4c230d;
    --color-orange-20: #733712;
    --color-orange-30: #9a4a16;
    --color-orange-40: #c15f19;
    --color-orange-50: #e57621;
    --color-orange-60: #eb9145;
    --color-orange-70: #f1aa6b;
    --color-orange-80: #f6c391;
    --color-orange-90: #fad9b7;
    --color-orange-95: #fdefdf;
}