/*body*/

.body-base {
    font-size: var(--font-size-base);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-s);
    line-height: var(--line-height-base);
}

.body-small {
    font-size: var(--font-size-s);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-m);
    line-height: var(--line-height-s);
}

.body-medium {
    font-size: var(--font-size-m);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-s);
    line-height: var(--line-height-m);
}

.body-large {
    font-size: var(--font-size-l);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-light);
    letter-spacing: var(--letter-spacing-s);
    line-height: var(--line-height-l);
}

/* heading */

.heading-base {
    font-size: var(--font-size-base);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-m);
    line-height: var(--line-height-base);
}

.heading-small {
    font-size: var(--font-size-s);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-l);
    line-height: var(--line-height-s);
    text-transform: uppercase;
}

.heading-medium {
    font-size: var(--font-size-m);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-s);
    line-height: var(--line-height-m);
}

.heading-large {
    font-size: var(--font-size-l);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-s);
    line-height: var(--line-height-l);
}

.heading-large--brand {
    font-size: var(--font-size-l);
    font-family: var(--font-serif);
    font-weight: var(--font-weight-black);
    letter-spacing: var(--letter-spacing-m);
    line-height: var(--line-height-l);
}

.heading-larger {
    font-size: var(--font-size-xl);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-s);
    line-height: var(--line-height-xxl);
}

.heading-larger--brand {
    font-size: var(--font-size-xl);
    font-family: var(--font-serif);
    font-weight: var(--font-weight-black);
    letter-spacing: var(--letter-spacing-m);
    line-height: var(--line-height-xxl);
}

/* actions */

.action-link {
    font-size: var(--font-size-base);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-s);
    line-height: var(--line-height-base);
}

.action-label {
    font-size: var(--font-size-base);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-s);
    line-height: var(--line-height-base);
}

.action-label-small {
    font-size: var(--font-size-s);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-s);
    line-height: var(--line-height-s);
}