/* -- Table of Contents --

# CORE TOKENS

## COLOR

### mono
### teal
### blue
### green
### red
### yellow

## TYPOGRAPHY

### font families
### font stack
### font weight
### font sizes
### line heights
### paragraph spacing

#SEMANTIC TOKENS

## SURFACES -- e.g. card, table, and page backgrounds

## CONTENT -- e.g. text, icons, etc.

## SHAPES -- e.g. buttons, information banners, etc.

### neutral
### primary
### brand
### success
### caution
### caution

## INPUTS -- e.g. fields, dropdowns, radios, checks and toggles

### on inputs -- for text and icons on inputs
### actions -- for buttons on inputs
### fills -- for input backgrounds
### borders -- for input borders

## FOCUS

## TYPOGRAPHY -- e.g. titles, labels, paragraphs, etc.

### titles -- for pages, sections, modals, etc
### body -- for labels and paragraphs etc
### inputs -- for labels, paragraphs, etc.
### buttons -- for labels, etc.
### icons -- for buttons, tables, labels, tags, etc.

## EFFECTS -- e.g. shadows, etc.

End of TOC ———————————————————————— */

:root {
    /* # CORE TOKENS */

    /* ## SIZES */

    /* ### elevations */
    --elevation-deepdive: -9999;
    --elevation-default: 1;
    --elevation-docked: 4;
    --elevation-popup: 5000;
    --elevation-dialog: 6000;
    --elevation-menu: 7000;
    --elevation-overlay: 8000;
    --elevation-modal: 9000;
    --elevation-spinner: 9050;
    --elevation-toast: 10000;

    /* ### rems */
    --rem-0: 0px;
    --rem-0_25: 4px;
    --rem-0_5: 8px;
    --rem-1: 16px;
    --rem-1_5: 24px;
    --rem-2: 32px;

    /* ### spaces */
    --space-none: var(--rem-0);
    --space-xxs: 1px;
    --space-xs: var(--rem-0_25);
    --space-s: var(--rem-0_5);
    --space-base: var(--rem-1);
    --space-l: var(--rem-1);
    --space-xl: var(--rem-1_5);
    --space-xxl: var(--rem-2);

    /* ### corners */
    --corner-square: var(--rem-0);
    --corner-soft: var(--rem-0-25);
    --corner-round: var(--rem-0-5);
    --corner-circular: 100%;

    /* ## COLOR */

    /* ### mono */
    --color-mono-0: #000000;
    --color-mono-10: #191919;
    --color-mono-20: #272727;
    --color-mono-30: #383838;
    --color-mono-40: #4c4c4c;
    --color-mono-50: #616161;
    --color-mono-60: #777777;
    --color-mono-70: #8f8f8f;
    --color-mono-80: #a9a9a9;
    --color-mono-90: #c4c4c4;
    --color-mono-95: #e1e1e1;
    --color-mono-99: #f7f7f7;
    --color-mono-100: #ffffff;

    /* ### teal */
    --color-teal-5: #172929;
    --color-teal-10: #213b3b;
    --color-teal-20: #385b59;
    --color-teal-30: #347e7a;
    --color-teal-40: #3aa38f;
    --color-teal-50: #41c7a4;
    --color-teal-60: #5cd7af;
    --color-teal-70: #79e5ba;
    --color-teal-80: #a9fdcf;
    --color-teal-90: #cbfde1;
    --color-teal-95: #e2fded;

    /* ### blue */
    --color-blue-10: #160e5c;
    --color-blue-20: #141389;
    --color-blue-30: #1826b6;
    --color-blue-40: #1c41e4;
    --color-blue-50: #267ae7;
    --color-blue-60: #4ba6ed;
    --color-blue-70: #6fcaf2;
    --color-blue-80: #94e6f6;
    --color-blue-90: #b9f8fa;
    --color-blue-95: #dffdfa;

    /* ### green */
    --color-green-10: #0d330a;
    --color-green-20: #134f0f;
    --color-green-30: #1c7e14;
    --color-green-40: #24af19;
    --color-green-50: #2cc51b;
    --color-green-60: #4ad43d;
    --color-green-70: #7cf473;
    --color-green-80: #a8f9a2;
    --color-green-90: #d6fdd3;
    --color-green-95: #e9fde7;

    /* ### red */
    --color-red-10: #4f1112;
    --color-red-20: #721718;
    --color-red-30: #951d1e;
    --color-red-40: #b92223;
    --color-red-50: #da292b;
    --color-red-60: #e95749;
    --color-red-70: #e96d6d;
    --color-red-80: #f38483;
    --color-red-90: #f6a8a8;
    --color-red-95: #fad6d6;

    /* ### yellow */
    --color-yellow-10: #4c2e0d;
    --color-yellow-20: #794915;
    --color-yellow-30: #a6641c;
    --color-yellow-40: #d37f24;
    --color-yellow-50: #ed9d23;
    --color-yellow-60: #f6ad28;
    --color-yellow-70: #f9d26e;
    --color-yellow-80: #fcedb4;
    --color-yellow-90: #fdf3d2;
    --color-yellow-95: #fdf6df;

    /* ## TYPOGRAPHY */

    /* ### font families */
    --font-family-sans: inter;
    --font-family-serif: orleans-alt;
    /* for all icons */
    --font-family-icon: 'Font Awesome 6 Pro';
    /* for logo icons*/
    --font-family-icon-brand: 'Font Awesome 6 Brands';

    /* ### font stack  */
    --font-sans: var(--font-family-sans), 'open sans', arial, sans-serif;
    --font-serif: var(--font-family-serif), georgia, serif;
    --font-icon: var(--font-family-icon);
    --font-icon-brand: var(--font-family-icon-brand);

    /* ### font weight */
    --font-weight-regular: 400;
    /* regular icon weight */
    --font-weight-semi: 600;
    --font-weight-bold: 700;
    --font-weight-black: 800;

    /* ### font sizes */
    --font-size-xs: 0.75rem;
    --font-size-s: 0.875rem;
    --font-size-normal: 1rem;
    --font-size-m: 1.25rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.5rem;
    --font-size-xxxl: 3rem;
    --font-size-xxxxl: 4rem;

    /* ### line heights */
    --line-height-s: 1.375rem;
    --line-height-xs: 1rem;
    --line-height-normal: 1.5rem;
    --line-height-m: 1.75rem;
    --line-height-l: 2rem;
    --line-height-xl: 2.5rem;
    --line-height-xxl: 3rem;
    --line-height-xxxl: 3.5rem;
    --line-height-xxxxl: 4.5rem;

    /* ### paragraph spacing */
    --paragraph-spacing-normal: 1rem;



    /* —————— END OF CORE TOKENS —————— */

    /* # SEMANTIC TOKENS */

    /* ## SURFACES -- e.g. card, table, and page backgrounds */

    --surface-primary: var(--color-mono-100);
    --surface-secondary: var(--color-mono-99);
    --surface-brand: var(--color-teal-10);
    --surface-accent: var(--color-teal-80);

    /* ## CONTENT -- e.g. text, icons, etc. */

    --content-primary: var(--color-mono-0);
    --content-secondary: var(--color-mono-60);
    --content-read-only: var(--color-mono-60);
    --content-caution: var(--color-red-50);
    --content-success: var(--color-green-30);
    --content-link: var(--color-blue-40);
    --content-link-hover: var(--color-blue-20);

    /* ## SHAPES -- e.g. buttons, information banners, etc. */

    /* ### neutral */
    --neutral-fill: var(--color-mono-100);
    --neutral-fill-disabled: var(--color-mono-95);
    --neutral-border: var(--color-mono-60);
    --neutral-border-hover: var(--color-mono-0);
    --neutral-on-default: var(--color-mono-0);
    /* for content on neutral shapes */
    --neutral-on-default-disabled: var(--color-mono-60);
    /* for content on disabled neutral shapes */

    /* ### primary */
    --primary-fill: var(--color-blue-40);
    --primary-fill-hover: var(--color-blue-20);
    --primary-fill-disabled: var(--color-mono-60);
    --primary-on-primary: var(--color-mono-100);
    /* for content on primary shapes */

    /* ### brand */
    --brand-fill: var(--color-teal-10);
    --brand-fill-accent: var(--color-teal-80);
    --brand-fill-disabled: var(--color-mono-60);
    --brand-on-brand: var(--color-mono-100);
    /* for content on brand shapes */

    /* ### success */
    --success-fill: var(--color-green-40);
    --success-fill-hover: var(--color-green-20);
    --success-fill-disabled: var(--color-mono-60);
    --success-on-success: var(--color-mono-100);
    /* for content on success shapes */

    /* ### caution */
    --caution-fill: var(--color-red-50);
    --caution-fill-hover: var(--color-red-30);
    --caution-fill-disabled: var(--color-mono-60);
    --caution-on-caution: var(--color-mono-100);

    /* ### caution */
    --highlight-fill: var(--color-yellow-60);
    --highlight-fill-hover: var(--color-yellow-30);
    --highlight-on-highlight: var(--color-mono-0);
    /* for content on highlight shapes */

    /* ## INPUTS -- e.g. fields, dropdowns, radios, checks and toggles */

    /* ### on inputs -- for text and icons on inputs */
    --input-on-input-primary: var(--color-mono-0);
    --input-on-input-secondary: var(--color-mono-60);

    /* ### actions -- for buttons on inputs */
    --input-action: var(--color-mono-60);
    --input-action-hover: var(--color-mono-0);
    --input-action-selected: var(--color-mono-0);

    /* ### fills -- for input backgrounds */
    --input-fill: var(--color-mono-100);
    --input-fill-secondary: var(--color-mono-95);
    --input-fill-selected: var(--color-mono-95);
    --input-fill-disabled: var(--color-mono-95);
    --input-fill-active: var(--color-green-40);
    /* for toggle switches */

    /* ### borders -- for input borders */
    --input-border: var(--color-mono-60);
    --input-border-hover: var(--color-mono-0);
    --input-border-selected: var(--color-mono-0);
    --input-border-error: var(--color-red-50);
    /* for validation errors */

    /* ## UTILITIES */
    --utility-focus: var(--color-yellow-60);
    --utility-select-content: var(--color-mono-0);
    /* for selected text */
    --utility-select-bg: var(--color-yellow-60);
    /* for selected text fill */
}

/* ## TYPOGRAPHY -- e.g. titles, labels, paragraphs, etc. */

/* ### titles -- for pages, sections, modals, etc */
.text-title-page {
    font-size: var(--font-size-xl);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-xl);
}

.text-title-section {
    font-size: var(--font-size-l);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-l);
}

.text-title-overline {
    font-size: var(--font-size-normal);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}

/* ### body -- for labels and paragraphs etc */
.text-body-large {
    font-size: var(--font-size-l);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-l);
}

.text-body {
    font-size: var(--font-size-normal);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}

.text-body-small {
    font-size: var(--font-size-s);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-s);
}

/* ### inputs -- for labels, paragraphs, etc. */
.text-input-label {
    font-size: var(--font-size-normal);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}

.text-input-value-normal {
    font-size: var(--font-size-normal);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}

.text-input-value-small {
    font-size: var(--font-size-s);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-s);
}

.text-input-helper {
    font-size: var(--font-size-normal);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}

/* ### buttons -- for labels, etc. */
.button-label {
    font-size: var(--font-size-normal);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-semi);
    line-height: var(--line-height-normal);
}

/* ### icons -- for buttons, tables, labels, tags, etc. */
.icon-small {
    font-size: var(--font-size-xs);
    font-family: var(--font-family-icon);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-xs);
}

.icon-normal {
    font-size: var(--font-size-normal);
    font-family: var(--font-family-icon);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}

.icon-medium {
    font-size: var(--font-size-m);
    font-family: var(--font-family-icon);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
}

.icon-large {
    font-size: var(--font-size-l);
    font-family: var(--font-family-icon);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-l);
}

/* ## EFFECTS -- e.g. titles, labels, paragraphs, etc. */

/* shadows */

.shadow-surface {
    box-shadow: 0px 2px 2px rgba(var(--color-mono-0), .16);
}

.shadow-low {
    box-shadow: 0px 4px 4px rgba(var(--color-mono-0), .16);
}

.shadow-medium {
    box-shadow: 0px 8px 8px rgba(var(--color-mono-0), .16);
}

.shadow-high {
    box-shadow: 0px 24px 12px rgba(var(--color-mono-0), .16);
}

/* —————— END OF SEMANTIC TOKENS —————— */