:root {
	--breakpoint-base: 0px;
	--breakpoint-200: 200px; /* Standard iPhones and Androids */
	--breakpoint-400: 400px; /* Larger iPhones and Androids, Smallest Desktop Window */
	--breakpoint-600: 600px;
	--breakpoint-800: 800px; /* iPad Portrait */
	--breakpoint-1000: 1000px; /* iPad Pro Portrait */
	--breakpoint-1200: 1200px; /* 720p Desktop, Macbook Air */
	--breakpoint-1400: 1400px; /* Surface Pro Tablet */
	--breakpoint-1600: 1600px;
	--breakpoint-1800: 1800px; /* 1080p Desktop */
	--breakpoint-2000: 2000px;
	--breakpoint-2400: 2400px;
	--breakpoint-2600: 2600px;
	--breakpoint-2800: 2800px;
	--breakpoint-3000: 3000px; /* 4K Desktop */
}

:root {
	--breakpoint-base: 0px;
	--breakpoint-200: 200px; /* Standard iPhones and Androids */
	--breakpoint-400: 400px; /* Larger iPhones and Androids, Smallest Desktop Window */
	--breakpoint-600: 600px;
	--breakpoint-800: 800px; /* iPad Portrait */
	--breakpoint-1000: 1000px; /* iPad Pro Portrait */
	--breakpoint-1200: 1200px; /* 720p Desktop, Macbook Air */
	--breakpoint-1400: 1400px; /* Surface Pro Tablet */
	--breakpoint-1600: 1600px;
	--breakpoint-1800: 1800px; /* 1080p Desktop */
	--breakpoint-2000: 2000px;
	--breakpoint-2400: 2400px;
	--breakpoint-2600: 2600px;
	--breakpoint-2800: 2800px;
	--breakpoint-3000: 3000px; /* 4K Desktop */
}
