:root {

    /* opacity */
    --shadow-opacity-none: var(--opacity-0);
    --shadow-opacity-weak: var(--opacity-05);
    --shadow-opacity-strong: shadow var(--opacity-10);

    /* color */
    --shadow-color: var(--shadow-color);

    /* blur */
    --shadow-blur-none: var(--unit-zero);
    --shadow-blur-xs: var(--unit-xxxs);
    --shadow-blur-s: var(--unit-xxs);
    --shadow-blur-m: var(--unit-xs);
    --shadow-blur-l: var(--unit-s);
    --shadow-blur-xl: var(--unit-base);
    --shadow-blur-xxl: var(--unit-l);
    --shadow-blur-xxxl: var(--unit-xl);

    /* offset */
    --shadow-offset-none: var(--unit-zero);
    --shadow-offset-xs: var(--unit-xxxs);
    --shadow-offset-s: var(--unit-xxs);
    --shadow-offset-m: var(--unit-xs);
    --shadow-offset-l: var(--unit-s);
    --shadow-offset-xl: var(--unit-base);
    --shadow-offset-xxl: var(--unit-l);
    --shadow-offset-xxxl: var(--unit-xl);

    /* spread */
    --shadow-spread-none: var(--unit-zero);
    --shadow-spread-s: calc(-1 * var(--unit-xxs));
    --shadow-spread-m: calc(-1 * var(--unit-xs));
    --shadow-spread-l: calc(-1 * var(--unit-s));
    --shadow-spread-xl: calc(-1 * var(--unit-base));
}

/* core shadows */

:root {
    --shadow-s:
        var(--shadow-offset-none) var(--shadow-offset-xs) var(--shadow-blur-s) hsl(--shadow-color / var(--shadow-opacity-strong)),
        var(--shadow-offset-none) var(--shadow-offset-s) var(--shadow-blur-m) hsl(--shadow-color / var(--shadow-opacity-strong));
    --shadow-m:
        var(--shadow-offset-none) var(--shadow-offset-s) var(--shadow-blur-m) hsl(--shadow-color / var(--shadow-opacity-strong)),
        var(--shadow-offset-none) var(--shadow-offset-m) var(--shadow-blur-l) hsl(--shadow-color / var(--shadow-opacity-strong));
    --shadow-l:
        var(--shadow-offset-none) var(--shadow-offset-m) var(--shadow-blur-l) hsl(--shadow-color / var(--shadow-opacity-strong)),
        var(--shadow-offset-none) var(--shadow-offset-l) var(--shadow-blur-xl) hsl(--shadow-color / var(--shadow-opacity-strong));
    --shadow-xl:
        var(--shadow-offset-none) var(--shadow-offset-l) var(--shadow-blur-xl) hsl(--shadow-color / var(--shadow-opacity-strong)),
        var(--shadow-offset-none) var(--shadow-offset-xl) var(--shadow-blur-xxl) hsl(--shadow-color / var(--shadow-opacity-strong));
}