:root {
    --size-0: 0px;
    --size-xxs: 1px;
    --size-xs: 4px;
    --size-s: 8px;
    --size-base: 16px;
    --size-m: 20px;
    --size-l: 24px;
    --size-xl: 32px;
    --size-xxl: 40px;
    --size-xxxl: 48px;
    --size-xxxxl: 56px;
    --size-xxxxxl: 64px;
    --size-xxxxxxl: 72px;
    --size-xxxxxxxl: 80px;
    --size-xxxxxxxxl: 88px;
    --size-xxxxxxxxxl: 96px;
}