:root {
	--elevation-deepdive: -9999;
	--elevation-default: 1;
	--elevation-docked: 4;
	--elevation-popup: 5000;
	--elevation-dialog: 6000;
	--elevation-menu: 7000;
	--elevation-overlay: 8000;
	--elevation-modal: 9000;
	--elevation-spinner: 9050;
	--elevation-toast: 10000;
}