:root {
    --shadow-action-base: var(--shadow-s);
    --shadow-action-hover: var(--shadow-l);
    --shadow-action-active: var(--shadow-m);
    --shadow-surface-low: var(--shadow-m);
    --shadow-surface-medium: var(--shadow-l);
    --shadow-surface-high: var(--shadow-xl);
}